main {
  padding-bottom: 3rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 0.5rem;
}

.image-button {
  background: none;
  border: none;
  margin: none;
  padding: none;
  cursor: pointer;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: var(--primary1);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  transition: background-color 400ms;
}
.modal.active {
  display: block;
  animation: background 400ms;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.modal-out {
  background-color: transparent;
}

.modal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes background {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}
